<div>
  <app-clouds></app-clouds>
</div>

<div class="container container-center">
  <div id="login-button" class="animate__animated" (click)="mostrarLogin()">
    <img src="../../../assets/img/iconoDeperfil.png" />
  </div>
  <div
    class="login-container-wrapper clearfix ocultar animate__animated"
    id="login-container"
  >
    <div class="tab-content">
      <div class="tab-pane active" id="login">
        <form class="form-horizontal login-form">
          <div class="form-group relative mb-4">
            <input
              class="form-control input-lg"
              id="login_username"
              placeholder="E-mail Address"
              type="email"
            />
            <i class="fa fa-user"></i>
          </div>
          <div class="form-group relative">
            <input
              class="form-control input-lg"
              id="login_password"
              placeholder="Password"
              type="password"
            />
            <i class="fa fa-lock"></i>
          </div>
          <div class="form-group mb-4">
            <div class="login-box">
              <a>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                Login
              </a>
            </div>
          </div>
          <div class="checkbox checkbox-success text-center">
            <input id="stay-sign" type="checkbox" />
            <label for="stay-sign">Stay signed in</label>
          </div>
          <hr />
          <div class="text-center">
            <label><a href="#">Forgot your password?</a></label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
